body {
    background: #1D1C1C;
    color: #ffffff;
    padding: 50px;
    font-family: Helvetica;
}

h1 {
    font-size: 3em;
    padding: 5px;
    border-bottom: 1px solid #ffffff;
}

h2 {
    font-size: 3em;
}

.AS {
    font-family: Courier;
    color: rgb(19, 179, 228);
}

#Movie-header {
    color: rgb(228, 214, 20);
    letter-spacing: 1px;
}
#SWROTS {
    width: 400px;
}

.speaking-scene {
    background: #424242;
    padding: 3px;
}